

#nav_bar {
    float: right;
  }
  #nav_bar li {
    display: inline-block;
    padding: 8px;
  }
  #nav_bar #sign_in {
    background: #0558dd; 
    margin-right: 25px;
    padding: 7px 15px;
    border-radius: 3px; 
    font-weight: bold;
    color:aliceblue;
  }
  